database:
  url: jdbc:postgresql://prod-db.lavacro.com:5432/workout

spring:
  jpa:
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        ddl-auto: update
